


item-label {
  background-color : transparent;

}


li.nav-item {
  color: #21409A;
}


p.module-footer{
  
  border-top: none;
}

h2.module-heading {
  color: #000000;
  background-color: transparent;
  border: 1.5px solid #9E9E9E;
}
